<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<center>
					<h2><%= @data[:customer][:name] %></h2>
			</center>
			<br/><br/>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">

					<!-- <button type="button" class="btn btn-default btn-block">
						ADD PICTURE
					</button> -->
					<a href="/customer/<%= @data[:customer][:id] %>/photos/new" class="btn btn-default btn-block">ADD PICTURE</a>
				</div>
				<div class="col-md-4">
				</div>
			</div>
        <br/>

			<div class="row">
				<center>
					<h3>Photos</h3><br/>
				</center>
				<ul class="list">
				<% @data[:photos].map { |photo| %>
					<li class="list-item">
						<div class="list-content">
						  <%= link_to image_tag(photo.image.url(:large), class: 'media-object'), photo.image.url, target: '_blank' %>
							<p></p>
							<h6>Photo description: </h6><h4 class="media-heading"><%= photo.name %></h4>
							<h6>Uploaded on: </h6><h4 class="media-heading"><%= photo.created_at %></h4>
						</div>
					</li>
				<% } %>
			</ul>

			<br/><br/><br/>
			</div>
		</div>
	</div>
</div>
